.header {
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 220px) minmax(auto, 950px) 1fr;
    padding: 37px 0 0 0;
}

.header__logo {
    grid-column: 2 / 3;
}

.header__cart {
    grid-column: 3 / 4;
    justify-self: flex-end;
}

.cart {
    display: flex;
    align-items: center;
}

.cart__text:hover {
    color: #00A82D;
}

.cart__text {
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    color: #000000;
    transition: .1s;
}

.cart__num {
    transform: translate(-1000%, -1000%);
}

.cart__num-on {
    transform: translate(0, 0);    
    font-size: 12px;
    font-weight: 600;
    background: #00A82D;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1250px) {
    .header {
        display: grid;
        align-items: center;
        grid-template: 1fr / 1fr minmax(auto, 215px) minmax(auto, 705px) 1fr;
        padding: 37px 0 0 0;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        display: grid;
        align-items: center;
        grid-template: 1fr / 0.25fr 235px 595px 1fr;
        padding: 24px 0 0 0;
    }
}

@media screen and (max-width: 960px) {
    .header {
        display: grid;
        align-items: center;
        grid-template: 1fr / 0.5fr minmax(auto, 215px) minmax(auto, 655px) 1.5fr;
        padding: 24px 0 0 0;
    }
}

@media screen and (max-width: 950px) {
    .header {
        display: grid;
        align-items: center;
        grid-template: 1fr / minmax(auto, 130px) 215px minmax(350px, auto) 1fr;
        padding: 24px 0 0 0;
    }
    .cart__text {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    .header {
        display: grid;
        align-items: center;
        grid-template: 1fr / 0.5fr 1fr 1.5fr 1fr;
        padding: 24px 0 0 0;
    }

}

@media screen and (max-width: 910px) {
    .header {
        display: grid;
        align-items: center;
        grid-template: 1fr / 0.5fr 1fr 1.5fr 1fr;
        padding: 24px 0 0 0;
    }

}

@media screen and (max-width: 690px) {
    .header {
        display: grid;
        align-items: start;
        grid-template: 1fr / 0.1fr 0.3fr 1.7fr 0.1fr;
        padding: 24px 0 0 0;
    }
    
}