
@import "header";
@import "main";
@import "footer";
@import "cart";

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(37px, auto) 1fr minmax(70px, auto) / 1fr;
}

a{
    text-decoration: none;
}
