
// @import "fonts";

// @mixin font($font_name, $file_name, $weight, $style) {
//     @font-face {
//     font-family: $font_name;
//     font-display: swap;
//     src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//     font-weight: #{$weight};
//     font-style: #{$style};
//     }
//     }
@import "header";
@import "main";
@import "footer";

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(37px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
}